body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:60px;
  width:50px;
  height:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:0px;
  width:490px;
  height:30px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:486px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:30px;
  width:495px;
  height:221px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:245px;
  top:0px;
  width:245px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:245px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:245px;
  top:30px;
  width:245px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:60px;
  width:245px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:245px;
  top:60px;
  width:245px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:90px;
  width:245px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:245px;
  top:90px;
  width:245px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:120px;
  width:245px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:245px;
  top:120px;
  width:245px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:150px;
  width:245px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:245px;
  top:150px;
  width:245px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:180px;
  width:245px;
  height:36px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:241px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:245px;
  top:180px;
  width:245px;
  height:36px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:241px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:220px;
  top:270px;
  width:90px;
  height:30px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
