body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:620px;
  top:464px;
  width:730px;
  height:216px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:216px;
}
#u1 {
  position:absolute;
  left:2px;
  top:100px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:1346px;
  height:99px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:99px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:191px;
  top:101px;
  width:1157px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:262px;
  top:109px;
  width:101px;
  height:17px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:4px;
  top:181px;
  width:191px;
  height:39px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:4px;
  top:335px;
  width:191px;
  height:39px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:4px;
  top:411px;
  width:191px;
  height:39px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:4px;
  top:296px;
  width:191px;
  height:39px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:4px;
  top:487px;
  width:191px;
  height:39px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:4px;
  top:564px;
  width:191px;
  height:39px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:4px;
  top:373px;
  width:191px;
  height:39px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:4px;
  top:526px;
  width:191px;
  height:39px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:4px;
  top:718px;
  width:191px;
  height:39px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:4px;
  top:679px;
  width:191px;
  height:39px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:4px;
  top:833px;
  width:191px;
  height:39px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:4px;
  top:795px;
  width:191px;
  height:39px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:4px;
  top:219px;
  width:191px;
  height:39px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:4px;
  top:602px;
  width:191px;
  height:39px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:4px;
  top:104px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:4px;
  top:142px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:4px;
  top:258px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:4px;
  top:450px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:4px;
  top:641px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:4px;
  top:756px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:200px;
  top:102px;
  width:50px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:204px;
  top:142px;
  width:437px;
  height:312px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:312px;
}
#u52 {
  position:absolute;
  left:2px;
  top:148px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:651px;
  top:142px;
  width:695px;
  height:312px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:312px;
}
#u54 {
  position:absolute;
  left:2px;
  top:148px;
  width:691px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:665px;
  top:205px;
  width:159px;
  height:104px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:104px;
}
#u56 {
  position:absolute;
  left:2px;
  top:44px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:665px;
  top:332px;
  width:159px;
  height:104px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:104px;
}
#u58 {
  position:absolute;
  left:2px;
  top:44px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:833px;
  top:205px;
  width:159px;
  height:104px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:104px;
}
#u60 {
  position:absolute;
  left:2px;
  top:44px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:833px;
  top:332px;
  width:159px;
  height:104px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:104px;
}
#u62 {
  position:absolute;
  left:2px;
  top:44px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1001px;
  top:205px;
  width:159px;
  height:104px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:104px;
}
#u64 {
  position:absolute;
  left:2px;
  top:44px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1169px;
  top:205px;
  width:159px;
  height:104px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:104px;
}
#u66 {
  position:absolute;
  left:2px;
  top:44px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:234px;
  top:297px;
  width:376px;
  height:143px;
  font-family:'新宋体 Bold', '新宋体';
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:143px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1194px;
  top:219px;
  width:49px;
  height:48px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u70 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:854px;
  top:219px;
  width:49px;
  height:48px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u72 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:689px;
  top:349px;
  width:49px;
  height:48px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:689px;
  top:219px;
  width:49px;
  height:48px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:854px;
  top:349px;
  width:49px;
  height:48px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u78 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:689px;
  top:283px;
  width:638px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:689px;
  top:407px;
  width:638px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:22px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:751px;
  top:219px;
  width:51px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:48px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:914px;
  top:215px;
  width:51px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:48px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1089px;
  top:212px;
  width:51px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:48px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1253px;
  top:215px;
  width:51px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:48px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:749px;
  top:345px;
  width:43px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:normal;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:48px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:914px;
  top:343px;
  width:43px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:normal;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:48px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:651px;
  top:142px;
  width:697px;
  height:47px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:47px;
}
#u96 {
  position:absolute;
  left:2px;
  top:16px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:704px;
  top:151px;
  width:165px;
  height:30px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u97_input {
  font-family:'应用字体';
}
#u97_input:disabled {
  color:grayText;
}
#u98 {
  position:absolute;
  left:654px;
  top:142px;
  width:39px;
  height:48px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:48px;
}
#u99 {
  position:absolute;
  left:2px;
  top:16px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:204px;
  top:142px;
  width:437px;
  height:47px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:47px;
}
#u101 {
  position:absolute;
  left:2px;
  top:16px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:248px;
  top:154px;
  width:250px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:204px;
  top:140px;
  width:38px;
  height:48px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:48px;
}
#u105 {
  position:absolute;
  left:2px;
  top:16px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:204px;
  top:695px;
  width:1144px;
  height:188px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:188px;
}
#u107 {
  position:absolute;
  left:2px;
  top:86px;
  width:1140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:204px;
  top:695px;
  width:1149px;
  height:192px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u110 {
  position:absolute;
  left:2px;
  top:17px;
  width:43px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:47px;
  top:0px;
  width:74px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u112 {
  position:absolute;
  left:2px;
  top:17px;
  width:70px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:121px;
  top:0px;
  width:141px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u114 {
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:262px;
  top:0px;
  width:152px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u116 {
  position:absolute;
  left:2px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:414px;
  top:0px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u118 {
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:554px;
  top:0px;
  width:93px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
}
#u120 {
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:647px;
  top:0px;
  width:71px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:50px;
}
#u122 {
  position:absolute;
  left:2px;
  top:9px;
  width:67px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:718px;
  top:0px;
  width:81px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u124 {
  position:absolute;
  left:2px;
  top:17px;
  width:77px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:799px;
  top:0px;
  width:97px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u126 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:896px;
  top:0px;
  width:117px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
}
#u128 {
  position:absolute;
  left:2px;
  top:17px;
  width:113px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1013px;
  top:0px;
  width:62px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u130 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1075px;
  top:0px;
  width:69px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
}
#u132 {
  position:absolute;
  left:2px;
  top:17px;
  width:65px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:50px;
  width:47px;
  height:35px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u134 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:47px;
  top:50px;
  width:74px;
  height:35px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u136 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:121px;
  top:50px;
  width:141px;
  height:35px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:35px;
}
#u138 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:262px;
  top:50px;
  width:152px;
  height:35px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u140 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:414px;
  top:50px;
  width:140px;
  height:35px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:554px;
  top:50px;
  width:93px;
  height:35px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:647px;
  top:50px;
  width:71px;
  height:35px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:718px;
  top:50px;
  width:81px;
  height:35px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u148 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:799px;
  top:50px;
  width:97px;
  height:35px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u150 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:896px;
  top:50px;
  width:117px;
  height:35px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u152 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:1013px;
  top:50px;
  width:62px;
  height:35px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u154 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:1075px;
  top:50px;
  width:69px;
  height:35px;
  color:#0000FF;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u156 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:0px;
  top:85px;
  width:47px;
  height:34px;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:34px;
}
#u158 {
  position:absolute;
  left:2px;
  top:9px;
  width:43px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:47px;
  top:85px;
  width:74px;
  height:34px;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
}
#u160 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:121px;
  top:85px;
  width:141px;
  height:34px;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u162 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:262px;
  top:85px;
  width:152px;
  height:34px;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u164 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:414px;
  top:85px;
  width:140px;
  height:34px;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u166 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:554px;
  top:85px;
  width:93px;
  height:34px;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u168 {
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:647px;
  top:85px;
  width:71px;
  height:34px;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
}
#u170 {
  position:absolute;
  left:2px;
  top:9px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:718px;
  top:85px;
  width:81px;
  height:34px;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u172 {
  position:absolute;
  left:2px;
  top:9px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:799px;
  top:85px;
  width:97px;
  height:34px;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u174 {
  position:absolute;
  left:2px;
  top:9px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:896px;
  top:85px;
  width:117px;
  height:34px;
  text-align:center;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u176 {
  position:absolute;
  left:2px;
  top:9px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1013px;
  top:85px;
  width:62px;
  height:34px;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:34px;
}
#u178 {
  position:absolute;
  left:2px;
  top:9px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:1075px;
  top:85px;
  width:69px;
  height:34px;
  text-align:center;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u180 {
  position:absolute;
  left:2px;
  top:9px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:0px;
  top:119px;
  width:47px;
  height:34px;
  text-align:center;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:34px;
}
#u182 {
  position:absolute;
  left:2px;
  top:9px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:47px;
  top:119px;
  width:74px;
  height:34px;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
}
#u184 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:121px;
  top:119px;
  width:141px;
  height:34px;
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u186 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:262px;
  top:119px;
  width:152px;
  height:34px;
  text-align:center;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u188 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:414px;
  top:119px;
  width:140px;
  height:34px;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u190 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:554px;
  top:119px;
  width:93px;
  height:34px;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u192 {
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:647px;
  top:119px;
  width:71px;
  height:34px;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
}
#u194 {
  position:absolute;
  left:2px;
  top:9px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:718px;
  top:119px;
  width:81px;
  height:34px;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u196 {
  position:absolute;
  left:2px;
  top:9px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:799px;
  top:119px;
  width:97px;
  height:34px;
  text-align:center;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u198 {
  position:absolute;
  left:2px;
  top:9px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:896px;
  top:119px;
  width:117px;
  height:34px;
  text-align:center;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u200 {
  position:absolute;
  left:2px;
  top:9px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:1013px;
  top:119px;
  width:62px;
  height:34px;
  text-align:center;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:34px;
}
#u202 {
  position:absolute;
  left:2px;
  top:9px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:1075px;
  top:119px;
  width:69px;
  height:34px;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u204 {
  position:absolute;
  left:2px;
  top:9px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:0px;
  top:153px;
  width:47px;
  height:34px;
  text-align:center;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:34px;
}
#u206 {
  position:absolute;
  left:2px;
  top:9px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:47px;
  top:153px;
  width:74px;
  height:34px;
  text-align:center;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
}
#u208 {
  position:absolute;
  left:2px;
  top:9px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:121px;
  top:153px;
  width:141px;
  height:34px;
  text-align:center;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u210 {
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:262px;
  top:153px;
  width:152px;
  height:34px;
  text-align:center;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u212 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:414px;
  top:153px;
  width:140px;
  height:34px;
  text-align:center;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u214 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:554px;
  top:153px;
  width:93px;
  height:34px;
  text-align:center;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u216 {
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:647px;
  top:153px;
  width:71px;
  height:34px;
  text-align:center;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
}
#u218 {
  position:absolute;
  left:2px;
  top:9px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:718px;
  top:153px;
  width:81px;
  height:34px;
  text-align:center;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u220 {
  position:absolute;
  left:2px;
  top:9px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:799px;
  top:153px;
  width:97px;
  height:34px;
  text-align:center;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u222 {
  position:absolute;
  left:2px;
  top:9px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:896px;
  top:153px;
  width:117px;
  height:34px;
  text-align:center;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u224 {
  position:absolute;
  left:2px;
  top:9px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:1013px;
  top:153px;
  width:62px;
  height:34px;
  text-align:center;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:34px;
}
#u226 {
  position:absolute;
  left:2px;
  top:9px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:1075px;
  top:153px;
  width:69px;
  height:34px;
  text-align:center;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:34px;
}
#u228 {
  position:absolute;
  left:2px;
  top:9px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:202px;
  top:464px;
  width:203px;
  height:89px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:89px;
}
#u230 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:202px;
  top:563px;
  width:168px;
  height:120px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:120px;
}
#u232 {
  position:absolute;
  left:2px;
  top:28px;
  width:164px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:380px;
  top:563px;
  width:229px;
  height:120px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:120px;
}
#u234 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:419px;
  top:464px;
  width:191px;
  height:89px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#434343;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:89px;
}
#u236 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:787px;
  top:278px;
  width:23px;
  height:23px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u238 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:1014px;
  top:222px;
  width:40px;
  height:40px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u240 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:959px;
  top:278px;
  width:23px;
  height:23px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u242 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:1127px;
  top:277px;
  width:23px;
  height:23px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u244 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:1290px;
  top:280px;
  width:23px;
  height:23px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u246 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:475px;
  top:199px;
  width:135px;
  height:152px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:152px;
}
#u248 {
  position:absolute;
  left:2px;
  top:68px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:999px;
  top:75px;
  width:81px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFCC00;
  text-align:center;
  line-height:normal;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u250 {
  position:absolute;
  left:0px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:625px;
  top:499px;
  width:715px;
  height:161px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:161px;
}
#u252 {
  position:absolute;
  left:2px;
  top:72px;
  width:711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:651px;
  top:663px;
  width:638px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  line-height:normal;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:22px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:628px;
  top:475px;
  width:638px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  line-height:normal;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:22px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  word-wrap:break-word;
}
