body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1161px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:665px;
  top:332px;
  width:159px;
  height:104px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:104px;
}
#u1 {
  position:absolute;
  left:2px;
  top:44px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:833px;
  top:332px;
  width:159px;
  height:104px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:104px;
}
#u3 {
  position:absolute;
  left:2px;
  top:44px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:689px;
  top:349px;
  width:49px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:854px;
  top:349px;
  width:49px;
  height:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1002px;
  top:332px;
  width:159px;
  height:104px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:104px;
}
#u9 {
  position:absolute;
  left:2px;
  top:44px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:689px;
  top:407px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1010px;
  top:349px;
  width:49px;
  height:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:749px;
  top:345px;
  width:43px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:48px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:914px;
  top:343px;
  width:43px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:48px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1089px;
  top:345px;
  width:43px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:48px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:854px;
  top:407px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1021px;
  top:407px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
