body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-70px;
  width:860px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:761px;
  top:437px;
  width:73px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2_img.mouseDown {
}
#u2.mouseDown {
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:667px;
  top:437px;
  width:73px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u4_img.mouseDown {
}
#u4.mouseDown {
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:53px;
  width:385px;
  height:379px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:45px;
  top:0px;
  width:61px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:57px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:106px;
  top:0px;
  width:136px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:132px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:242px;
  top:0px;
  width:138px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:50px;
  width:45px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:45px;
  top:50px;
  width:61px;
  height:36px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:106px;
  top:50px;
  width:136px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:242px;
  top:50px;
  width:138px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:86px;
  width:45px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:45px;
  top:86px;
  width:61px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:106px;
  top:86px;
  width:136px;
  height:36px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:242px;
  top:86px;
  width:138px;
  height:36px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:122px;
  width:45px;
  height:36px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:45px;
  top:122px;
  width:61px;
  height:36px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:106px;
  top:122px;
  width:136px;
  height:36px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:242px;
  top:122px;
  width:138px;
  height:36px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:158px;
  width:45px;
  height:36px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:45px;
  top:158px;
  width:61px;
  height:36px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:106px;
  top:158px;
  width:136px;
  height:36px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:242px;
  top:158px;
  width:138px;
  height:36px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:194px;
  width:45px;
  height:36px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:45px;
  top:194px;
  width:61px;
  height:36px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:106px;
  top:194px;
  width:136px;
  height:36px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:242px;
  top:194px;
  width:138px;
  height:36px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:230px;
  width:45px;
  height:36px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:45px;
  top:230px;
  width:61px;
  height:36px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:106px;
  top:230px;
  width:136px;
  height:36px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:242px;
  top:230px;
  width:138px;
  height:36px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:266px;
  width:45px;
  height:36px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:45px;
  top:266px;
  width:61px;
  height:36px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:106px;
  top:266px;
  width:136px;
  height:36px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:242px;
  top:266px;
  width:138px;
  height:36px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:302px;
  width:45px;
  height:36px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:45px;
  top:302px;
  width:61px;
  height:36px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:106px;
  top:302px;
  width:136px;
  height:36px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:242px;
  top:302px;
  width:138px;
  height:36px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:338px;
  width:45px;
  height:36px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:45px;
  top:338px;
  width:61px;
  height:36px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:106px;
  top:338px;
  width:136px;
  height:36px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:242px;
  top:338px;
  width:138px;
  height:36px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:6px;
  width:850px;
  height:47px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:47px;
}
#u88 {
  position:absolute;
  left:2px;
  top:16px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:13px;
  top:0px;
  width:38px;
  height:48px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:48px;
}
#u90 {
  position:absolute;
  left:2px;
  top:16px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:450px;
  top:53px;
  width:405px;
  height:379px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u93 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:48px;
  top:0px;
  width:64px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:50px;
}
#u95 {
  position:absolute;
  left:2px;
  top:17px;
  width:60px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:112px;
  top:0px;
  width:143px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
}
#u97 {
  position:absolute;
  left:2px;
  top:17px;
  width:139px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:255px;
  top:0px;
  width:145px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:141px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:50px;
  width:48px;
  height:36px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:48px;
  top:50px;
  width:64px;
  height:36px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:112px;
  top:50px;
  width:143px;
  height:36px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:255px;
  top:50px;
  width:145px;
  height:36px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:86px;
  width:48px;
  height:36px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:48px;
  top:86px;
  width:64px;
  height:36px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:112px;
  top:86px;
  width:143px;
  height:36px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:255px;
  top:86px;
  width:145px;
  height:36px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:122px;
  width:48px;
  height:36px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:48px;
  top:122px;
  width:64px;
  height:36px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:112px;
  top:122px;
  width:143px;
  height:36px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:255px;
  top:122px;
  width:145px;
  height:36px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:158px;
  width:48px;
  height:36px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:48px;
  top:158px;
  width:64px;
  height:36px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:112px;
  top:158px;
  width:143px;
  height:36px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:255px;
  top:158px;
  width:145px;
  height:36px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u131 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:0px;
  top:194px;
  width:48px;
  height:36px;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u133 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:48px;
  top:194px;
  width:64px;
  height:36px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u135 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:112px;
  top:194px;
  width:143px;
  height:36px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:255px;
  top:194px;
  width:145px;
  height:36px;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u139 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:0px;
  top:230px;
  width:48px;
  height:36px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:48px;
  top:230px;
  width:64px;
  height:36px;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u143 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:112px;
  top:230px;
  width:143px;
  height:36px;
  text-align:center;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u145 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:255px;
  top:230px;
  width:145px;
  height:36px;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u147 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:0px;
  top:266px;
  width:48px;
  height:36px;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u149 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:48px;
  top:266px;
  width:64px;
  height:36px;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u151 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:112px;
  top:266px;
  width:143px;
  height:36px;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u153 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:255px;
  top:266px;
  width:145px;
  height:36px;
  text-align:center;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u155 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:302px;
  width:48px;
  height:36px;
  text-align:center;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u157 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:48px;
  top:302px;
  width:64px;
  height:36px;
  text-align:center;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u159 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:112px;
  top:302px;
  width:143px;
  height:36px;
  text-align:center;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u161 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:255px;
  top:302px;
  width:145px;
  height:36px;
  text-align:center;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u163 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:0px;
  top:338px;
  width:48px;
  height:36px;
  text-align:center;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u165 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:48px;
  top:338px;
  width:64px;
  height:36px;
  text-align:center;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u167 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:112px;
  top:338px;
  width:143px;
  height:36px;
  text-align:center;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u169 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:255px;
  top:338px;
  width:145px;
  height:36px;
  text-align:center;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u171 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:392px;
  top:112px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u172_img.mouseDown {
}
#u172.mouseDown {
}
#u173 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:392px;
  top:212px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u174_img.mouseDown {
}
#u174.mouseDown {
}
#u175 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:450px;
  top:0px;
  width:38px;
  height:48px;
  color:#FFFFFF;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:48px;
}
#u177 {
  position:absolute;
  left:2px;
  top:16px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:58px;
  top:10px;
  width:128px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:498px;
  top:11px;
  width:128px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
