body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:195px;
  top:133px;
  width:1156px;
  height:727px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1156px;
  height:727px;
}
#u1 {
  position:absolute;
  left:2px;
  top:356px;
  width:1152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:195px;
  top:133px;
  width:1155px;
  height:47px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:47px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:207px;
  top:133px;
  width:38px;
  height:48px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:551px;
  top:141px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u6_img.mouseDown {
}
#u6.mouseDown {
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:1346px;
  height:99px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:99px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:191px;
  top:101px;
  width:1157px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1157px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:1153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:262px;
  top:109px;
  width:101px;
  height:17px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u14 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:4px;
  top:181px;
  width:191px;
  height:39px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:4px;
  top:335px;
  width:191px;
  height:39px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:4px;
  top:411px;
  width:191px;
  height:39px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:4px;
  top:296px;
  width:191px;
  height:39px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:4px;
  top:487px;
  width:191px;
  height:39px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:4px;
  top:564px;
  width:191px;
  height:39px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:4px;
  top:373px;
  width:191px;
  height:39px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:4px;
  top:526px;
  width:191px;
  height:39px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:4px;
  top:718px;
  width:191px;
  height:39px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:4px;
  top:679px;
  width:191px;
  height:39px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:4px;
  top:833px;
  width:191px;
  height:39px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:4px;
  top:795px;
  width:191px;
  height:39px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:4px;
  top:219px;
  width:191px;
  height:39px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:4px;
  top:602px;
  width:191px;
  height:39px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:4px;
  top:104px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:4px;
  top:142px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:4px;
  top:258px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:4px;
  top:450px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:4px;
  top:641px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:4px;
  top:756px;
  width:191px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:200px;
  top:102px;
  width:50px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u56 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:276px;
  top:109px;
  width:92px;
  height:32px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:278px;
  top:142px;
  width:225px;
  height:29px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59_input {
  font-family:'应用字体';
}
#u60 {
  position:absolute;
  left:195px;
  top:181px;
  width:231px;
  height:89px;
  font-size:28px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:89px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:426px;
  top:181px;
  width:231px;
  height:89px;
  font-size:28px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:89px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:657px;
  top:181px;
  width:231px;
  height:89px;
  font-size:28px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:89px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:888px;
  top:181px;
  width:231px;
  height:89px;
  font-size:28px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:89px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1119px;
  top:181px;
  width:231px;
  height:89px;
  font-size:28px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:89px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:227px;
  top:450px;
  width:180px;
  height:340px;
  font-size:28px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:340px;
}
#u71 {
  position:absolute;
  left:2px;
  top:58px;
  width:176px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:468px;
  top:450px;
  width:172px;
  height:340px;
  font-size:28px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:340px;
}
#u73 {
  position:absolute;
  left:2px;
  top:58px;
  width:168px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:701px;
  top:450px;
  width:173px;
  height:340px;
  font-size:28px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:340px;
}
#u75 {
  position:absolute;
  left:2px;
  top:58px;
  width:169px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:935px;
  top:450px;
  width:159px;
  height:340px;
  font-size:28px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:340px;
}
#u77 {
  position:absolute;
  left:2px;
  top:58px;
  width:155px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1142px;
  top:450px;
  width:165px;
  height:340px;
  font-size:28px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:340px;
}
#u79 {
  position:absolute;
  left:2px;
  top:58px;
  width:161px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:265px;
  top:394px;
  width:100px;
  height:94px;
  font-size:48px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u81 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:496px;
  top:394px;
  width:100px;
  height:94px;
  font-size:48px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u83 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:728px;
  top:394px;
  width:100px;
  height:94px;
  font-size:48px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u85 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:959px;
  top:394px;
  width:100px;
  height:94px;
  font-size:48px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u87 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1177px;
  top:394px;
  width:100px;
  height:94px;
  font-size:48px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u89 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
